* {
    font-family: montserrat, sans-serif;
}

html {

    background: linear-gradient(to bottom,rgb(58, 58, 58), black);
    background-repeat: no-repeat;
    background-size: auto;
    min-width: 100%;
    min-height: 100%;
}

h1 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(124, 124, 124);
    font-size: 13vw;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

#navbar1 {
    background-color: rgb(26, 26, 26);
}

#gsBtn {
    margin-left: 630px;
    animation: fadeInDown; 
    animation-duration: 1s;
}

.fa-walking {
    position: relative;
    top: -7vw;
    font-size: 3vw;
    margin:auto;
}

#weatherBlock {
    width: 250px;
    height: 130px;
    margin-top: 20px;
    margin-left: 1130px;
}

#dayPara {
    color: rgb(124, 124, 124);
    font-size: 15px;
    margin-left: 60px;
    display: block;
  }

#degrees {
    font-size: 25px;
    margin-left: 70px;
    color:rgb(219, 219, 219);
}

.fa-cloud-sun {
    font-size: 30px;
    color: rgb(219, 219, 219);
}

#inputAdd {
    width: 40%;
    background-color: rgb(238, 238, 238);
    color: black;
    margin-left: 410px;
    display: hide;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#adressInput {
    width: 20%;
    background-color: black;
    opacity: 30%;
    color: white;
    vertical-align: center;
}

h2 {
    color: white;
    font-size: 50px;
}

#listScreen {
    padding-top: 70px;
}

.coffee {
    width: 100px;
}
